In [85]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
import pickle

In [4]:
data=pd.read_csv("spam.csv")

In [5]:
data.head(5)

  Label                                          EmailText
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

data.columns

In [6]:
data.columns

Index(['Label', 'EmailText'], dtype='object')

In [7]:
data['Label']=data['Label'].map({"ham":0,"spam":1})

In [8]:
data.head()

   Label                                          EmailText
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [10]:
c=CountVectorizer()

In [21]:
x=data["EmailText"]
y=data["Label"]

In [17]:
x.shape

(5572, 8679)

In [18]:
y.shape

(5572,)

In [22]:
x=c.fit_transform(x)

In [23]:
x

<5572x8679 sparse matrix of type '<class 'numpy.int64'>'
	with 73767 stored elements in Compressed Sparse Row format>

In [65]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [26]:
x_train.shape

(4457, 8679)

In [27]:
x_test.shape

(1115, 8679)

In [28]:
y_train.shape

(4457,)

In [59]:
model=MultinomialNB()

In [60]:
model.fit(x_train,y_train)

MultinomialNB()

In [83]:
result=model.score(x_test,y_test)
result

0.9901345291479821

In [84]:
result=result*100
result

99.01345291479821

In [87]:
pickle.dump(model,open("spam.pkl","wb"))

In [89]:
pickle.dump(c,open("vectorize.pkl","wb"))

In [91]:
clf=pickle.load(open("spam.pkl","rb"))
clf

MultinomialNB()

In [101]:
message="hello!! you won 10 rupees"
data=[message]
vector=c.transform(data).toarray()
result=model.predict(vector)
result

array([0])